body{
	background-color: #7fb5ce !important;
}

.navbar {
    border-radius: 0% !important;
    margin-bottom: 0 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    margin-left: 0;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #cccccc !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
    margin-right: 0;
}

.navbar-inverse .navbar-brand:hover {
    color: rgb(58, 239, 245) !important;
}

.jumbotron{
    margin-top: 0 !important;
    padding-top: 10px !important;
    background-color: white !important;
}

hr{
    border-bottom: 1px solid  rgba(104, 88, 134, 0.2) !important;
}

.head{
    color: #996699 !important;
    margin-bottom: 25px;
}

#truckData{
    font-family: "Trebuchet", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid rgb(84, 156, 168);
    width: 100%;
    margin-bottom: 4px;
}

#truckData td {
    border: 1px solid #ddd;
    padding: 6px;
}

#truckData th {
    color: #443266;
    background-color: #64d4cb;
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

tbody{
    text-align: center;
    color: #443266;
    border: 1px solid white;
}

tbody:nth-child(odd){
    background-color: #f2f2f2;
}

tbody:hover{
	background-color: #999999;
}

.truckNumber{
    color: black;
	margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

a{
    background: none;
    padding: 0px;
    border: none;
    color: #443266 !important;
    margin-left: 4px;
	margin-right: 4px;
}

a:hover{
    text-decoration: none !important;
}

#myBtn{
    margin-right: 5px;
}



















